.navbar{
    display: flex;
    justify-content: space-around;
    box-shadow: 0 1px 3px -2px black;
}
.nav-logo{
    display:flex;
    align-items: center;
}
.nav-logo img {
    width: 100px; 
    height: auto; 
}
  
.nav-logo p{
    color:#171717;
    font-size: 25px;
    font-weight: 600;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap:50px;
    color:#626262;
    font-size: 20px;
    font-weight: 500;
}
.navbar li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    gap:15px;
    margin: 10px;
    cursor: pointer;
    font-size: 17px;
}
.nav-menu hr {
    border: none;
    width: 30px;
    height: 3px;
    border-radius: 10px;
    background: transparent; 
    transition: background 0.3s ease; 
}

.nav-menu li:hover hr, 
.nav-menu li.active hr {
    background: #FF4141;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-login-cart button{
    width:  145px;
    height:  40px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color:#515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}
.nav-login-cart button:active{
    background: #f3f3f3;
}
.nav-cart-count{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left:-55px;
    border-radius: 11px;
    font-size: 14px;
    background-color: red;
    color: white;
}
.modal {
    position: absolute;
    justify-content: center;
    height: 50%;
    top: 103px; 
    right: 100px;
    width: 40%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    border: 1px solid rgba(0, 0, 0, 0.1); 
}

.modal-content {
    width: 90%;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    overflow: hidden;

}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.cart-item-container {
    display: flex;
    align-items: center;
  }
  
  .cart-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .cart-table th, .cart-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .cart-table th {
    background-color: #f2f2f2;
  }
  
  .cart-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .cart-table tr:hover {
    background-color: #ddd;
  }
  
  .cart-item-container {
    display: flex;
    align-items: center;
  }
  
  .img-cont {
    margin-right: 10px;
  }
  
  .img-container img {
    max-width: 50px;
    height: auto;
  }
  .quantity-input {
    width: 50px;
    padding: 2px;
    font-size: 15px;
    text-align: center; 
  }
  
  .quantity-input:focus {
    outline: none;
  }

.remove-btn {
    background-color: #ff6347; 
    color: white;
    border: none;
    padding: 8px 16px;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #cc4125;
    }
  }
  .order-btn-cell {
    text-align: center;
 
  }
  